html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.card {
    border-radius: 15px; /* Softer corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    overflow: hidden; /* Ensures content respects border-radius */
}

.transparent-form {
    background-color: rgba(255, 255, 255, 0.15) !important; /* Slightly less transparent */
    border: none !important;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.85) !important; /* Slightly less transparent */
    border-radius: 15px; /* Match card border-radius on one side */
}

.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Input focus effect */
.form-control:focus {
    border-color: #80bdff; /* Bootstrap primary color */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Subtle glow */
}

/* Override Bootstrap's .btn-primary */
.btn-primary {
    background-color: #0177bc !important;
    border-color: #0177bc !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #016aa8 !important; /* Slightly darker on hover */
    border-color: #016aa8 !important;
}